.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#welcomeText{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}