
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure consistent box-sizing across all elements */
}
#page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "head head"
    "nav  main"
    "nav main";
    
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

#page  header {
  grid-area: head;
  background-color: #567793;
}

#page  sidebar {
  grid-area: nav;
  background-color: #798ea1;
}

#page  main {
  grid-area: main;
  background-color: #44666d;
  /* overflow: hidden; */
  /* position: relative; */
}

#page  footer {
  grid-area: foot;
  background-color: #8cffa0;
}
